
/* -----------------  DEBUG -------------  */
div, main, aside, section, li{
  /* border: solid 1px red; */
  /* background-color: pink; */
}

 /* -----------------  DEBUG -------------  */


/* -----------------  OVERALL  -------------  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica';
  font-size: 25px;
}
img {
  margin: 0 10px;
  border-radius: 50%;
}

body{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

}

h3{
  font-size: .8rem;
}

h4{
  font-size: .6rem;
}

h5{
  font-size: .5rem;
}

h6{
  font-size: .3rem;
}

#bolzapp{
  display: flex;
  width: 75%;
  height: 90%;
  /* background-color: pink; */
  z-index: 10;
}

#topBg{
  width: 100%;
  height: 20vh;
  background-color: #009988;
  position:absolute;
  top:0;
}

#bottomBg{
  width: 100%;
  height: 80vh;
  background-color: #d6dbd6;
  position: absolute;
  top:20vh;
}

#left{
  display: flex;
  flex-direction: column;
  width: 35%;
  border-right: solid 1px #b1b1b1;
  background-color: white;
}

#notifications{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 100px;
  padding: 10px;
  background-color: #76dcff;
}

#bell {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 50%;
  color: #76dcff;
}
#notifications a{
  /* text-decoration: none; */
  color:#697376;
}
.notifications{
  margin: 0 10px;
}

#search_box{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;
  background-color: #eaeaea;
}

#search{
  display: flex;
  align-items: center;
  padding:5px;
  border-radius: 3px;
  background-color: white;
  color:#b7bbbd;
}
#search i {
  font-size: .8rem;
}

#search input{
  border-style: none;
}

/* -------------------  CONTACT SECTION  ------------- */

#contact_list{
  overflow: scroll;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  background-color: white;
  border-bottom: solid 1px #e9ebeb;
}

#contact_list li:hover{
  background-color: #e9ebeb;
}


#contact_list ul{
  flex-basis:  100%;
}

#contact_list ul li{
  position: relative;
  display: flex;
  align-items:center;
  /* min-width: 470px; */
  /* flex-basis:90%; */
  padding: 5px;
  border-bottom: 1px solid #e1e1e1;
  list-style: none;
}

#contact_list ul li img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.last_mex{
  position:absolute;
  left:95px;
  bottom:3px;
  font-size: .7rem;
  color:#919191;
}
.grey_bg{

background-color: #e9ebeb;
}
.mex_time{
  position:absolute;
  top:10px;
  right:10px;
  font-size: .7rem;
  color:#919191;
}

.data_mex {
  display: flex;
  justify-content: flex-end;
  flex-basis: 53%;
  color: #e9ebeb;;
}


#right{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 65%;
  height: 100%;
  background-image: url("../img/mine.jpg");
}

.top_bar{
  display: flex;
  justify-content: space-between;
  height: 80px;
  background-color: #eaeaea;
}

.top_bar img {
  max-width: 65px;
  height: auto;
}

.user, .friend{
  display: flex;
  justify-content: flex-start;
  align-items: center;  /* padding: 10px 10px; */

}
.friend_details{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icons{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 10px;
}

.icons i {
  color:#b1b1b1;
  margin: 0 10px;
}

#chats{

  overflow: scroll;
  padding: 50px;

  background-repeat: repeat;

}


#bottom_bar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 5px;
  background-color: #eaeaea;
}

#bottom_bar i {
  color:#697376;
  margin: 0 20px;
}

#bottom_bar input{
  width: 98%;
  height: 50px;
  border-radius: 8px;
  border-style: none;
}




/* ------------------- MEX SECTION  ------------- */


.mex_received{
  width:100%;
  display: flex;
  justify-content: flex-start;
}

.mex_sent{
  width:100%;
  display: flex;
  justify-content: flex-end;
}

.mex_received p{

  position: relative;
  font-size: .8rem;
  background-color: #ffffff;
}
.mex_sent p{
  position: relative;
  font-size: .8rem;
  background-color: #cbfbb3;
}

.mex_received p , .mex_sent p{
  min-width:40%;
  padding:10px 10px 20px 10px;
  border-radius: 10px;
  margin:10px;
}

.chat_time{
  position:absolute;
  bottom:5px;
  right:10px;
  font-size: .6rem;
  color:#b1b1b1;
}

/* ******************** MODIFICA ASPETTO SCROLLBAR ********************* */

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #b1b1b1;
  border: 3px none #b1b1b1;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #eaeaea;
}

::-webkit-scrollbar-corner {
  background: #eaeaea;
}

/* ******************** FINE MODIFICA ASPETTO SCROLLBAR ********************* */



/* *************  RESPONSIVE PART  ************* */

@media all and (min-width:701px)and(max-width:1050px) {

  .user h3{
    display:none;
  }

  /* #search input{
    width: 50%;
  } */
  .mex_time{
    display:none;
  }
}


@media all and (min-width:400px) and (max-width:700px){
  .user img{
    display:none;
  }
  .user h3{
    display:none;
  }
  /* #search{
    width: 40%;
  }
  #search input{
    width: 50%;
  } */


}
