<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
     <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>Whatsapp</title>
  </head>
  <body>
    <!-- **** Background ***** -->
    <div id="topBg"></div>
    <div id="bottomBg"></div>

    <!-- ******* APP BLOCK ****** -->
    <main id="bolzapp">
      <!-- ***** LEFT COLUMNS ON THE SIDE ***** -->
      <aside id="left">
        <div class="top_bar">
          <div class="user">
            <img :src="user.avatar" alt="">
            <span><h3>{{user.name}} {{user.surname}}</h3></span>
          </div>

          <div class="icons">
            <i class="fas fa-circle-notch"></i>
            <i class="fas fa-comment-alt"></i>
            <i class="fas fa-ellipsis-v"></i>
          </div>

        </div>
        <!-- *************** NOTIFICATION SECTION *************** -->

        <div id="notifications">
          <div id="bell">
            <i class="fas fa-bell-slash"></i>
          </div>
          <div class="">
            <h3>Ricevi notifiche di nuovi messaggi</h3>
            <a href="#"><h4>Attiva notifiche desktop</h4></a>
          </div>
        </div>

        <!-- *************** SEARCH SECTION *************** -->
        <div id="search_box">

          <div id="search">
            <i class="fas fa-search"></i>
            <input type="text" name="" value="">
          </div>

        </div>

        <!-- *************** CONTACT SECTION *************** -->

        <div id="contact_list">
          <ul>
            <li  v-for = "(contact,index) in contacts" @click="chatindex = index">
              <img :src = "contact.avatar" alt="">
              <p>{{ contact.name }}</p> <br>
               <span  class="last_mex">ok...</span>
               <span class="mex_time">{{contact.last_access}}</span>
            </li>



          </ul>


        </div>


      </aside>


      <!-- ***** MAIN APP SECTION ***** -->
      <section id="right">
        <!-- ***** TOP BAR SECTION ***** -->
        <header class="top_bar">

         <div class="friend">

           <img src="img/avatar_1.jpg" alt="">

           <div class="friend_details">
             <h3>Andrea</h3></span>
             <h5>Ultimo accesso</h5>
           </div>

         </div>

         <div class="icons">
           <i class="fas fa-search"></i>
           <i class="fas fa-paperclip"></i>
           <i class="fas fa-ellipsis-v"></i>
         </div>

        </header>


        <!-- ************* CHAT MESSAGES ********* -->
        <section id="chats">

          <!-- <div class="mex_received">
            <p>Andimao a fare un giro?
              <span class="chat_time">10/10/2020 20:10:55</span>
            </p>
          </div> -->
<!-- controllo ogni elemento in mex e se index è 0 va a sent, altrimenti a received -->
          <div
            <!-- v-for="(element, index) in mex "
            v-if="(contact_index = 0)? :class='mex_sent': :class='mex_received'" -->
            >
            <p>{{element}}
              <span class="chat_time">10/10/2020 20:10:55</span>
            </p>
          </div>
<!-- console.log(myvar.stick[0].leaf.name); -->
          <!-- <div class="mex_received">
            <p>Andimao a fare un giro?
              <span class="chat_time">10/10/2020 20:10:55</span>
            </p>
          </div> -->


          <!-- <div
              class="list_element"
              v-for="(element, index) in list "
              :class="getClass(index)"
            >
              <span >{{index+1}}.  {{list[index]}}</span>
          </div> -->



          <!-- <div class="mex_sent">
            <p>Ma chi,  io e te? Stai scherzando spero!
              <span class="chat_time">10/10/2020 20:10:55</span>
            </p>
          </div>

          <div class="mex_sent">
            <p>Ma chi,  io e te? Stai scherzando spero!Ma chi,  io e te? Stai scherzando spero!Ma chi,  io e te? Stai scherzando spero!Ma chi,  io e te? Stai scherzando spero!Ma chi,  io e te? Stai scherzando spero!Ma chi,  io e te? Stai scherzando spero!Ma chi,  io e te? Stai scherzando spero!Ma chi,  io e te? Stai scherzando spero!Ma chi,  io e te? Stai scherzando spero!
              <span class="chat_time">10/10/2020 20:10:55</span>
            </p>
          </div>

          <div class="mex_received">
            <p>Ma chi,  io e te? Stai scherzando spero!Ma chi,  io e te? Stai scherzando spero!Ma chi,  io e te? Stai scherzando spero!Ma chi,  io e te? Stai scherzando spero!Ma chi,  io e te? Stai scherzando spero!Ma chi,  io e te? Stai scherzando spero!Ma chi,  io e te? Stai scherzando spero!Ma chi,  io e te? Stai scherzando spero!Ma chi,  io e te? Stai scherzando spero!
              <span class="chat_time">10/10/2020 20:10:55</span>
            </p>
          </div> -->


          </section>

        <!-- ***** BOTTOM INPUT BAR SECTION ***** -->
        <div id="bottom_bar">
            <i class="far fa-smile"></i>
            <input type="text" name="" value="">
            <i class="fas fa-microphone"></i>
        </div>


      </section>


    </main>


    <script type="text/javascript"  src="js/script.js" charset="utf-8">

    </script>
  </body>
</html>
